'atom-workspace':
  'cmd-alt-n':           'proto-repl:remote-nrepl-connection'

':not(ink-console) atom-text-editor[data-grammar~="clojure"]':
  'enter':               'lisp-paredit:newline'

  'cmd-shift-x':         'cljs:cut-sexp'
  'cmd-shift-c':         'cljs:copy-sexp'
  'cmd-shift-v':         'cljs:replace-sexp'
  'cmd-shift-backspace': 'cljs:delete-sexp'
  'cmd-\\':              'cljs:indent-file'

  'cmd-enter':           'proto-repl:execute-block'
  'cmd-alt-enter':       'proto-repl:execute-selected-text'

'ink-console':
  'enter': 'console:evaluate'
  'cmd-enter': 'console:evaluate'
  'shift-enter': 'console:evaluate'
  'cmd-k': 'proto-repl:clear-repl'
