span.syntax--trailing-whitespace {
  background-color: transparent;
}

atom-text-editor.is-focused {
  .cursor {
    opacity: .15!important;
    border-width: 2px;
  }
}

atom-text-editor .gutter {
  background-color: transparent;
}

atom-text-editor .gutter .line-number.cursor-line {
  background-color: transparent;
}
